/*----------------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,  
form, fieldset, input, p, blockquote, table, th, td, embed, object { 
  padding: 0; 
  margin: 0;  
  } 
table { 
  border-collapse: collapse; 
  border-spacing: 0; 
  } 
fieldset, img, abbr { 
  border: 0; 
  } 
address, caption, cite, code, dfn, em,  
h1, h2, h3, h4, h5, h6, strong, th, var { 
  font-weight: normal; 
  font-style: normal; 
  } 
ul { 
  list-style: none; 
  } 
caption, th { 
  text-align: left; 
  } 
h1, h2, h3, h4, h5, h6 { 
  font-size: 1.0em; 
  } 
q:before, q:after { 
  content: ''; 
  } 
a, ins { 
  text-decoration: none; 
  } 
a:focus, a:visited{
  color:black;
}
figure{
  margin:0;
}
html{ 
  font-size: 100%; 
}
/*----------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato');


@font-face {
  font-family: 'Myriad-Pro';
  src: url('fonts/MyriadProRegular.eot'); /* IE9 Compat Modes */
  src: url('fonts/MyriadProRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/MyriadProRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/MyriadProRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       
}
/*----------------------------------------------------------------------*/

#wrapper{width: 100%; position: relative;}
.row{display:flex;}
.wrapper{
  max-width: 1170px;
  margin: 0 auto; 
  overflow: hidden; 
  padding: 0 15px;
}
/*----------------------------------------------------------------------*/

section.login .row{justify-content: space-around;}
section.login{
  background-color: #f1f4f8;
  /*padding: 18px 15px;*/
  color: #7e8c99; 
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 0.750em;
}
section.login .login_phrase{width: 48%; box-sizing: border-box; padding: 1.5% 0; }
section.login .login_buttons{width: 15%; box-sizing: border-box;}
section.login .login_buttons button{padding: 10% 0; width: 50%; border:none; border-left:1px solid #dde2e8; border-right:1px solid #dde2e8;color:#7e8c99; background-color: #f1f4f8; font-family: 'Montserrat', sans-serif; box-sizing: border-box; font-size: 1em;}
section.login .login_buttons .login_button{margin-right: -5px;}
section.login .login_advice{width: 15%; padding: 5px 10px 0 0; border-right:1px solid #dde2e8;}
section.login .login_advice .row{justify-content: space-around;}
section.login .login_advice .advice_phone{font-size: 2.750em; float: left; margin-right: 5px; width: 15%;}
section.login .login_advice .advice_call{font-size: 0.933em;}
section.login .login_advice .advice_phone_number{font-size: 1.858em; font-family: 'Open Sans', sans-serif; font-weight: bold;}
section.login .login_message{width: 15%; padding: 3px 0;}
section.login .login_message input{padding: 7% 0; width:100%; text-transform: uppercase; color:white; background-color: #ff551a; border:none; font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 1em; box-sizing: border-box;}
/*----------------------------------------------------------------------*/

header .row{justify-content: space-between; flex-wrap: wrap;}
header .logo_right{  text-align: center; padding: 20px 0; margin-right: 2.5%;}
header .logo_left{margin-top: 3%;}

/*----------------------------------------------------------------------*/

nav{border-top:1px solid #dde2e8; border-bottom:1px solid #dde2e8;}
nav ul li{display: inline-block; text-transform: uppercase; font-family: 'Montserrat', sans-serif; font-size: 0.875em; padding: 1% 2.6%; box-sizing: border-box;}
nav ul li a{ color:#7e8c99;}
nav ul li a i{margin-left: 12px;}
.with_border{border-right:1px solid #dde2e8;}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    border:1px solid #dde2e8;
    margin-top: 10px;
    color:#7e8c99;
    font-size:1.2em;
}
.dropdown-content ul li{display: block; border-bottom:1px solid #dde2e8; padding: 5% 3%;}
.dropdown:hover .dropdown-content {display: block;}

/*----------------------------------------------------------------------*/

section .quick_search{

}
section .search_form .parallax-window {max-height: 879px;background: transparent;}
section .search_form{
  width: 90%;
  margin:35% auto;
  background-color: rgba(49, 162, 225, 0.8);
  
  box-shadow: 5px 0 15px rgba(0,0,0,0.5);
  padding: 25px 45px;
  border-radius: 8px;
}
section .search_form_button_quick{width: 13%; padding: 11px 5px; background-color: #435061; border:none; color:white; text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-weight: bold; border-top-left-radius: 5px; border-bottom-left-radius: 5px; font-size: 0.875em;}
section .search_form_input_text{
width: 58%;
margin-right: 3%;
padding: 11px 10px;
margin-left: -5px;
background-color: rgba(67, 80, 97, 0.5);
border:none; 
color:white;
text-transform:uppercase;
box-sizing: border-box;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
color: rgba(255, 255, 255, 1);
font-size: 0.875em;
}
section .search_form_input_text::-webkit-input-placeholder {color: rgba(255, 255, 255, 1);}
section .search_form_input_text::-moz-placeholder          {color: rgba(255, 255, 255, 1);}
section .search_form_input_text:-moz-placeholder           {color: rgba(255, 255, 255, 1);}
section .search_form_input_text:-ms-input-placeholder      {color: rgba(255, 255, 255, 1);}
section .search_form_button_find_dream{
  width: 24%;
  padding: 11px 5px;
  background-color: #ff551a;
  border-radius: 5px;
  color:white;
  border:none;
  opacity: 1;
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  font-size: 1.000em;
 }
 /*----------------------------------------------------------------------*/
section.main_body{padding: 10% 0;}
section.main_body .pointer{
  width: 100%;
  text-align: center;
  }
section.main_body .title{
  text-align: center; 
  width: 100%; 
  font-size: 1.929em;
  color:#435061;
  font-family: "Myriad Pro", Myriad, sans-serif;
  text-transform: uppercase;
  margin-top: 1%;
  }
section.main_body .info{
  width: 100%;
  text-align: center;
  margin-top:2%;
  font-family: 'Lato', sans-serif;
  color:#7e8c99;
  font-size: 1.000em;
  line-height: 1.6em;
}
section.main_body .row{justify-content: space-around; margin-top: 5%;}
section.main_body .item .item_img{text-align: center;}
section.main_body .item .item_title{text-align: center; margin-top: 0.375em; font-family: 'Montserrat', sans-serif; font-size: 0.750em; color:#7e8c99;}
section.main_body .item .item_info{text-align: center; margin-top: 0.375em; font-family: 'Montserrat', sans-serif; font-weight: bold; font-size: 1.125em; color:#435061;}

/*----------------------------------------------------------------------*/

section.community .parallax-window {max-height: 581px; background: transparent;}
/*section.community .blue_wrapper{
  background-color: rgba(49, 162, 225, 0.87);
  max-height: 581px; 
  margin-left: 40%;
}*/
section.community .row{justify-content: flex-end;}
section.community .blue_wrapper{
  background:none;
  position: relative;
  z-index: 2;
}
section.community .blue_wrapper:after{
  content: '';
  background-color: rgba(49, 162, 225, 0.87);
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

section.community .community_content{text-align: left; padding: 2%; padding-bottom: 10%; color:white; width: 55%;}
section.community .community_content .community_title{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.313em;
  margin-top: 10%;
}
section.community .community_content .community_info{
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  margin-top: 4%;
  line-height: 1.5;
  width: 90%;
}
section.community .community_places .row{justify-content: space-between;}
section.community .community_places{margin-top: 5%;}
section.community .community_places_left{width: 45%;}
section.community .community_places_item{margin-top: 4%;}
section.community .community_places_right{width: 45%;}
section.community .community_places .community_places_item .row{justify-content: space-around;}
section.community .community_item_place{
  font-family: 'Lato', sans-serif;
  font-size: 1.000em;
  width: auto;
  white-space: nowrap;
}
section.community .community_item_line{
  max-height: 1px;
  width: 90%;
  background-image: url(..//img/line.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 4%;
  margin-left:3%;
  margin-right: 3%;
}

/*----------------------------------------------------------------------*/
section.community2 {padding-bottom: 10%; background-color: #eff3f5;}
section.community2 .pointer{width: 100%; text-align: center; margin-top: 5%;}
section.community2 .title{
  width: 100%; 
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.688em;
  color:#435061;
  margin-top: 1%;
}
section.community2 .info{
  margin:0 auto;
  width: 70%; 
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.000em;
  margin-top: 2%;
  line-height: 1.5;
  color:#7e8c99;
}
section.community2 .featured_tabs div.tab {
    overflow: hidden;
    background-color: white;
    margin-top: 6%;
}

section.community2 .featured_tabs div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 26px;
    transition: 0.3s;
    color: #435061;
    font-family: 'Lato', sans-serif;
    font-size: 1.000em;
}

section.community2 .featured_tabs div.tab button:hover {
    background-color: #ddd;
}

section.community2 .featured_tabs div.tab button.active {
    background-color: #435061;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1.000em;
}

section.community2 .featured_tabs .tabcontent {
    margin-top: 6%;
}
section.community2 .tabcontent .row{justify-content: space-between;}
section.community2 .tabcontent .house_image{
  background-color: white;
  padding: 1%;
}
.mySlides {display:none; width: 550px;}
.slider_circles_container{margin-top: -3.5%; text-align: center;}
.w3-badge {color:white;padding:0; cursor: pointer;}
.w3-badge-now{color:#31a2e1;}
.w3-badge:hover{color:#31a2e1;}
section.community2 .tabcontent .house_content{margin-left: 5%;}
section.community2 .tabcontent .house_content_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:#435061;
  font-size: 1.313em;
  margin-top: 5%;
    text-transform: uppercase;
}
section.community2 .tabcontent .house_content_info{
  font-family: 'Montserrat', sans-serif;
  color:#7e8c99;
  font-size: 1.000em;
  font-family: "Myriad Pro", Myriad, sans-serif;
  line-height: 1.5;
  margin-top: 5%;
  text-align: justify;

}
section.community2 .tabcontent .house_content_descr .row{justify-content: space-between;}
section.community2 .tabcontent .house_content_descr{margin-top: 8%;}
section.community2 .tabcontent .house_content_descr .descr_info{margin-left: 3%; margin-top: 1%;}
section.community2 .tabcontent .house_content_descr .descr_info_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color:#435061;
  font-size: 1em;
  text-transform: uppercase;
}
section.community2 .tabcontent .house_content_descr .descr_info_info{
    color: #7e8c99;
    font-family: 'Lato', sans-serif;
    font-size: 0.938em;
    margin-top: 2%;
}


/*----------------------------------------------------------------------*/

section.featured_listings .pointer{width: 100%; text-align: center; margin-top: 5%;}
section.featured_listings .title{
  width: 100%; 
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.688em;
  color:#435061;
  margin-top: 1%;
}
section.featured_listings .info{
  margin:0 auto;
  width: 70%; 
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.000em;
  margin-top: 2%;
  line-height: 1.5;
  color:#7e8c99;
}

section.featured_listings .carousel_arrows{
  text-align: center;
  margin-top: 1%;
  
}

section.featured_listings .prev, section.featured_listings .next{
  color:#858c95;
  border:1px solid #858c95;
  border-radius: 50px;
  background-color: white;
  cursor: pointer;
  font-size:1.5em;
  padding: 0.2% 0.7%;
  margin:0 0.5%;
}
section.featured_listings .prev:hover, section.featured_listings .next:hover{
  color:#3ca7e3;
  border:1px solid #3ca7e3;
}
section.featured_listings .carousel{margin-top: 2%;}
section.featured_listings .carousel .carousel_item{
  position: relative;
}
section.featured_listings .carousel .carousel_item img{
  max-width: 305px;
}

figure figcaption{
  position: absolute;
  background-color: #31a2e1;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translate3d(0,50%,0);
}
 
figure figcaption{
    transition: opacity 0.5s, transform 0.35s;
}
figure:hover figcaption{
    opacity: 1;
    transform: translate3d(0,0,0);
}

section.featured_listings .carousel .carousel_item .carousel_item_info .name{
  text-align: center;
  text-transform: uppercase;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.125em;
  margin-top: 10%;
}
section.featured_listings .carousel .carousel_item .carousel_item_info .price{
  text-align: center;
  text-transform: uppercase;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.000em;
  margin-top: 5%;
}
section.featured_listings .carousel .carousel_item .carousel_item_info .carousel_item_add{
  text-align: center;
  margin-top: 7%;
  
}
section.featured_listings .carousel .carousel_item .carousel_item_info .carousel_item_add a{
  color:#31a2e1;
  background-color: white;
  border-radius: 50px;
  font-weight: bold;
  padding: 2.3% 4.6%;
  font-size:1.500em;

}
section.featured_listings .carousel .carousel_item .carousel_item_info .info{
  text-align: center;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875em;
  margin-top: 10%;
}

/*----------------------------------------------------------------------*/
section.attractions {padding-bottom: 10%;}
section.attractions .attractions_content .row{justify-content: space-around; margin-top: 5%;}
section.attractions .pointer{width: 100%; text-align: center; margin-top: 5%;}
section.attractions .title{
  width: 100%; 
  text-align: center; 
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.688em;
  color:#435061;
  margin-top: 1%;
}
section.attractions .info{
  margin:0 auto;
  width: 70%; 
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1.000em;
  margin-top: 2%;
  line-height: 1.5;
  color:#7e8c99;
}
section.attractions .attractions_paging{padding-bottom: 2%; width: 70%;}
section.attractions .paging_list_item .paging_list_item_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:1em;
  text-transform: uppercase;
  color:#435061;
}
section.attractions .paging_list_item .paging_list_item_info{
  font-family: "Myriad Pro", Myriad, sans-serif;
  font-size:0.875em;
  color:#7e8c99;
  margin-top: 3%;
  margin-bottom: 5%;
  line-height: 1.5;
}
section.attractions .paging_list_item_title a{color:#435061;}
section.attractions .paging_list_item_title .active{color:#31a2e1;}
section.attractions .attractions_pags a{
  color:#31a2e1;
  padding: 3% 4%;
  border:1px solid #31a2e1;
  border-radius: 25px;
   font-family: "Myriad Pro", Myriad, sans-serif;
}
section.attractions .attractions_pags a:hover{
  background-color: #31a2e1;
  color:white;
  padding: 3% 4%;
  border:1px solid #31a2e1;
  border-radius: 25px;
}
section.attractions .attractions_pags{margin-top: 15%;}
section.attractions .attractions_pags .active{
  background-color: #31a2e1;
  color:white;
  padding: 3% 4%;
  border:1px solid #31a2e1;
  border-radius: 25px;
}

#map{width:100%; margin-left: 5%;}
/*----------------------------------------------------------------------*/

section.emerald{
  
  background-color: #d8f1ff;
  position: relative;
  padding-bottom: 5%;
  z-index: 2;
}
section.emerald .row{justify-content: space-around;}
section.emerald .left_item .row{justify-content: space-between;}
section.emerald .left_item .left_item_content{width:85%;}
section.emerald:after{
  content: '';
  background-color: #31a2e1;
  width: 40%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
section.emerald .emerald_left_content{width: 30%;}
section.emerald .emerald_left_content .left_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:1em;
  color:white;
  text-transform: uppercase;
  margin-top: 7%;
}
section.emerald .emerald_left_content .left_item{
  font-family: "Myriad Pro", Myriad, sans-serif;
  color:white;
  font-size:1em;
  margin-top: 9%;
  line-height: 1.5;
  text-align:justify;
}

section.emerald .emerald_left_content .left_button{margin-top: 12%;}
section.emerald .emerald_left_content .left_button button{
  width: 100%;
  color:white;
  background-color: #51c1ff;
  border:none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:0.875em;
  padding: 2% 0;
  cursor:pointer;
}

section.emerald .emerald_right_content{width: 55%;}
section.emerald .emerald_right_content .right_title{
  color:#435061;
  text-transform: uppercase;
  margin-top: 3.5%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:1em;
}
section.emerald .emerald_right_content .right_item{
  margin-top: 3%;
}
section.emerald .emerald_right_content .right_item_img{
  margin-right: 3%;
}
section.emerald .emerald_right_content .right_item .right_item_title{
    color:#435061;
  text-transform: uppercase;
  margin-top: 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:1em;
}
section.emerald .emerald_right_content .right_item .right_item_info{
  font-family: "Myriad Pro", Myriad, sans-serif;
  color:#7e8c99;
  font-size:0.875em;
  margin-top: 2%;
  line-height: 1.5;
}
/*----------------------------------------------------------------------*/
footer .row{justify-content: space-around;}
footer{padding:5% 0;}
footer .footer_background{
  background-color: none;
  position: relative;
  z-index: 2;
}
footer .footer_background:after{
  content: '';
  background-color: #435061;
  width: 70%;
  height: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
}
footer .footer_left_content{width: 63.9%; box-sizing: border-box; padding-right: 1%;}
footer .footer_left_content .left_content_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:1em;
  text-transform: uppercase;
  color:white;
  margin-top: 5%;
}
footer .footer_left_content .left_content_info{
  padding:1%;
  background-color: #333d4a;
  color:white;
  font-family: 'Lato', sans-serif;
  font-size:0.875em;
  margin-top: 3%;
  line-height: 1.5;
}
footer .left_social .left_social_img{margin-top:10%;}
footer .left_social .left_social_phonenumber{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size:0.875em;
  color:white;
  margin-top: 5%;
}
footer .left_social .left_social_phonenumber span{
  color:#a5b4c7;
}
footer .right_social{
  margin-top: 4%;
  width: 50%;
  box-sizing: border-box;
  padding-left: 2%;
  border-left: 1px solid #a5b4c7;
}
footer .right_social .right_social_title{
color:white;
font-family: 'Lato', sans-serif;
font-size:0.875em;
}
footer .right_social .social_href{margin-top: 5%;}
footer .right_social .social_href ul li{
  display: inline-block;
  width: 31px;
  height: 31px;
  background:url('../img/social.png') no-repeat;
  margin-right: 1%;
}
footer .right_social .social_href ul .fc{
  background-position: 0px;
}
footer .right_social .social_href ul .in{
  background-position: -43px;
}
footer .right_social .social_href ul .tw{
  background-position: -86px;
}
footer .right_social .social_href ul .yt{
  background-position: -128px;
}
footer .right_social .social_href ul .wp{
  background-position: -172px;
}
footer .right_social .social_href ul .b{
  background-position: -215px;
}
footer .right_social .social_href ul .two_points{
  background-position: -258px;
}
footer .right_social .social_href ul .cam{
  background-position: -300px;
}


footer .footer_right_content{background-color: #31a2e1; width: 30.1%; padding: 2%; box-sizing: border-box;}
footer .footer_right_content .right_content_title{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:1em;
  text-transform: uppercase;
  color:white;
  margin-top: 3%;
}
footer .right_content_person{margin-top: 8%;}
footer .person_information{width: 60%;}
footer .person_information i{margin-right: 3%;}
footer .right_content_person .row{justify-content: space-between;}
footer .right_content_person .person_information_name{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color:white;
}
footer .right_content_person .person_information_spec{
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color:#c3eaff;
  margin-top: 3%;
}
footer .right_content_person .person_information_phone,
footer .right_content_person .person_information_email{
  color:white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875em;
    margin-top: 3%;
}
footer .right_content_about_title{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size:0.875em;
  text-transform: uppercase;
  margin-top: 7%;
}

footer .right_content_about_info{
  box-sizing: border-box;
  padding:2% 4%;
  background-color: #0e90d9;
  margin-top: 2%;
}

footer .right_content_about_info{
   font-family: "Myriad Pro", Myriad, sans-serif;
   font-size: 0.875em;
   color:#b1e2ff;
}
footer .about_info_who{
  font-family: 'Lato', sans-serif;
  font-size: 0.813em;
  text-transform: uppercase;  
  padding-top: 3%;
}
footer .about_info_massege{text-align: justify;line-height: 1.5;}
footer .right_content_about_info .row{justify-content: space-between; margin-top: 12%;}
footer .about_info_arrows button{
  color:#0e90d9;
  border:none;
  background-color: white;
  border-radius: 25px;
  padding: 5px 5px 5px 5.7px;
  cursor: pointer;
  box-sizing: border-box;
  font-size: 0.813em;
}
footer .send_me_button{
  text-align: center; 
  margin-top: 5%;
}
footer .send_me_button a{
  box-sizing: border-box;
  width: 100%; 
  padding: 2% 24.8%;
  color:#0e90d9;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: white;
  font-size: 0.813em;

}
footer .about_info_achiev .row{justify-content: space-around;}
footer .about_info_achiev{margin-top: 8%;}
/*----------------------------------------------------------------------*/


@media screen and (max-width: 1210px) {
    html {
        font-size:90%;
    }
}
 
@media screen and (max-width: 1140px) {
    html {
        font-size:80%;
    }
}
@media screen and (max-width: 1070px) {
    html {
        font-size:70%;
    }
}
@media screen and (max-width: 667px) {
    .wrapper{padding:0;}
    section.login .row{display: block;flex-wrap: wrap;text-align: center;}
    section.login .login_buttons button{padding: 5% 0;}
    section.login .login_advice .advice_phone{float:none;margin: 0 auto;}
    section.login .login_message input{padding: 3% 0;}
    section.login .row div{width: 100%;}
    nav ul li{display: block; width: 100%; font-size: 200%;}
}